<div class="app-page">
  <div class="app-page__header">
    <h1>Welcome!</h1>
  </div>

  <div class="app-page__content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut egestas
      dolor. Nunc quis cursus lorem, non porttitor quam. Vestibulum pulvinar
      turpis sit amet nisl interdum dignissim. Nunc egestas purus ac ligula
      pharetra cursus. Suspendisse nec velit sodales, feugiat dolor in, porta
      felis. Sed ornare quam eros, ut blandit libero laoreet ac. Proin ut tortor
      eget lectus venenatis posuere sit amet laoreet velit. Cras venenatis
      ligula posuere tortor hendrerit pretium. Phasellus ut interdum felis,
      suscipit faucibus tellus. Vestibulum magna diam, finibus quis justo vitae,
      varius rutrum purus. Nullam luctus tortor id magna sagittis lacinia. Nulla
      eget ultrices sapien. Quisque nibh enim, hendrerit sit amet dictum eget,
      vehicula sed tortor. Morbi volutpat bibendum neque nec posuere.
      Suspendisse potenti. Aliquam quis augue eu risus convallis bibendum sit
      amet ut arcu.
    </p>
    <p>
      Donec consectetur sit amet eros ut ultricies. Curabitur elit purus,
      volutpat vitae elit ac, finibus pretium dolor. In hac habitasse platea
      dictumst. Nam laoreet non velit vel pulvinar. Fusce nec volutpat ipsum.
      Nullam elit mauris, hendrerit sed justo ac, maximus ultrices quam. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Maecenas non enim consequat, pulvinar libero a, ullamcorper
      tortor. Nullam viverra egestas ante, sodales condimentum velit. Morbi eget
      sapien efficitur, ornare arcu sit amet, viverra eros. Nulla posuere auctor
      odio ut cursus. Aliquam dictum leo imperdiet odio lobortis, ut mollis
      lectus aliquam. Aenean posuere facilisis convallis. Nam tempus scelerisque
      mi, vel finibus sem efficitur vel. Pellentesque vitae gravida ipsum.
      Aliquam venenatis non dui ut viverra.
    </p>
    <p>
      Nulla fringilla luctus tortor, convallis vulputate massa consequat sed.
      Fusce lacinia neque eget ligula vehicula dignissim. Cras sit amet odio nec
      mi rhoncus molestie quis vel massa. Integer dictum nibh non erat suscipit,
      vitae ullamcorper metus gravida. Fusce pharetra eget nulla eu rutrum.
      Donec rutrum enim a rutrum commodo. Nulla quis suscipit justo. Mauris in
      rhoncus orci. In nibh lacus, laoreet vitae porta vitae, egestas vel velit.
      Proin tempor egestas malesuada. Pellentesque vestibulum orci dui, vitae
      aliquam felis eleifend in. Cras rhoncus bibendum neque et ullamcorper.
      Pellentesque vehicula dapibus facilisis.
    </p>
  </div>
</div>
